<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <style>
        form {
            
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        form>* {
            margin-bottom: 20px;
        }
    </style>
    <div>Welcome - Please Login First</div>
    <div>
        <form>
            <input type="text" name="email" ng-model="email">
            <input type="password" name="pwd" ng-model="pwd">
            <button ng-click="handleLogin()">Login</button>
        </form>

    </div>
</body>
</html>